<div data-component='product'>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  {% include 'product-head' %}
   
  <section data-component='productSelection'>
    <div class='container mx-auto px-4'>
      <div class='lg:flex lg:justify-between lg:-mx-4'>

        <div class="w-full lg:w-1/2 lg:px-4">
          <ul>
            {% for image in product.images %}
              <li>
                <img class='block w-full' src='{{ image.src | img_url: '600x' }}' alt='{{ image.alt | escape }}' />
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="w-full lg:w-1/2 lg:px-4">
          <h1>{{ product.title }}</h1>

          <div class="rte">
            {{ product.description }}
          </div>

          <form action='/cart/add' method='post' enctype='multipart/form-data' data-component='productForm'>
            {% include 'product-options' %}

            <div class='py-4'>
              {% include 'component-counter' %}
            </div>

            <div class='flex items-center py-4'>
              <span data-price>{{ current_variant.price | money }}</span>
              <s data-compare-price style='display: none'>{{ current_variant.compare_at_price | money }}</s>
            </div>

            <div class='py-4'>
              {%- capture cta -%}
                {% if product.available %}
                  Add to Cart
                {% else %}
                  Out of Stock
                {% endif %}
              {%- endcapture -%}
              {%
                include 'component-button' with
                tag: 'button',
                name: 'add',
                type: 'submit',
                className: 'js-add-to-cart',
                cta: cta
              %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
