<div class='relative px-4 {{ className }}'>
  {% if default %}
    <h6 class='py-1 px-2 absolute right-0 '>Default</h6>
  {% endif %}

  <h6>
    <div class='mb-4'>{{ address.name }}</div>
    {% if address.company %}{{ address.company }}<br />{% endif %}
    {{ address.street }}<br />
    {{ address.city | capitalize }}{% if address.province %}, {{ address.province | upcase }} {% endif %} {{ address.zip | upcase }}<br />
    {{ address.country }}<br />
    {% if address.phone != '' %}{{ address.phone }}{% endif %}
  </h6>

  {% if edit %}
    <div class='address__footer mt-2'>
      <button class='mr-2' onclick='slater.toggleForm({{address.id}})'>Edit</button>
      <button class='mr-2' onclick='slater.removeAddress({{address.id}})'>Delete</button>
    </div>
  {% endif %}
</div>
