{% if type == blank %}
  {% assign type = 'text' %}
{% endif %}
{% if autocomplete == blank %}
  {% assign autocomplete = 'off' %}
{% endif %}
{% if autocapitalize == blank %}
  {% assign autocapitalize = 'off' %}
{% endif %}
{% if spellcheck == blank %}
  {% assign spellcheck = 'false' %}
{% endif %}
{% if required == blank %}
  {% assign required = 'false' %}
{% endif %}

{%- capture id -%}
{{type}}{{name}}{{ className | replace: ' ', '' }}
{%- endcapture -%}

{%- capture cx -%}
  w-full
  {{ className }}
{%- endcapture -%}

<div class='{{ cx }}' data-component='input-text'>
  <input
    id='{{ id }}'
    class='w-full'
    type='{{ type }}'
    name='{{ name }}'
    placeholder='{{ placeholder }}'
    value='{{ value }}'
    autocomplete='{{ autocomplete }}'
    autocapitalize='{{ autocapitalize }}'
    spellcheck='{{ spellcheck }}'
    required='{{ required }}'
  />
  <label for='{{ id }}'>{{ label }}</label>
  <span></span>
</div>
