<div class='image overflow-hidden w-full relative flex items-center justify-center {{ className }}' data-src='{{ src }}' data-alt='{{ alt }}'>
  <img class='block z-10 {%if fill%}w-full h-full absolute inset-0{%else%}w-full relative{%endif%}' alt='{{ alt }}' />
</div>

{% comment %}
<pre>
  DEBUG image.liquid

  src:{{ src }}
  file:{{ file }}
  asset:{{ asset }}
  size:{{ size }}
  product:{{ product }}
  _src:{{ _src }}
</pre>
{% endcomment %}
 
{% comment %}reset{% endcomment %}
{% assign src = blank %}
{% assign alt = blank %}
{% assign className = blank %}
{% assign fill = false %}
