<label class='flex items-center mr-2' for={{label}}>
  <input
    id={{label}}
    type=radio
    name={{name}}
    value={{value}}
    class='mr-2'
    {{ attributes }}
    {% if checked %}checked{% endif %}
  />
  <span>{{label}}</span>
</label>

{% assign label = blank %}
{% assign name = blank %}
{% assign value = blank %}
{% assign attributes = blank %}
{% assign checked = blank %}
