<div class='container mx-auto w-full px-4'>
  <div class='account-wrapper'>
    {%
    include 'account-titles' with
    title: 'My Account'
    %}

    <section class='account-home px-4 mt-2'>
      <div class='container mx-auto'>
        <h2>Order History</h2>

        {% paginate customer.orders by 99 %}

          {% if customer.orders.size != 0 %}

            <ul class='account-home__orders'>
              {% for order in customer.orders %}
                <li class='account-home__order block mb-4'>
                  <div class='w-full flex items-center justify-between mb-2'>
                    <a href='{{ order.customer_url }}' class='underline mr-4'>
                      {{order.name}}
                    </a>

                    <span>{{order.created_at | date: '%b %d, %Y'}}</span>
                  </div>

                  <div>
                    <div>
                      <span class='mr-2'>Payment:</span><span>{{order.financial_status_label}}</span>
                    </div>
                    <div>
                      <span class='mr-2'>Shipping:</span><span>{{order.fulfillment_status_label}}</span>
                    </div>
                  </div>

                  <div>
                    <span>Total:</span><span>{{order.total_price | money}}</span>
                  </div>
                </li>
              {% endfor %}
            </ul>

          {% else %}
            <p>You don't have any orders yet!</p>
          {% endif %}

          {% include 'pagination' %}
        {% endpaginate %}
      </div>
    </section>
  </div>

</div>
