<div class='account-login w-full h-full account-wrapper flex items-center justify-center' data-component='accountLogin'>
  <div class='w-full px-4'>
    <div class='account-login__recover account-dialog px-4 js-recover-dialog' style='display: none;'>
      <h2 class='mb-2'>Forgot your password?</h2>
      <p>Enter your email and we will send you a password reset link.</p>

      {% form 'recover_customer_password', class: 'mx-auto' %}

        {% if form.posted_successfully? %}
          <span class='mb-4 js-recover-success'>Success! Check your email for a link to reset your password.</span>
        {% else %}
          {%
          include 'component-input' with
          label: 'Email',
          placeholder: 'Email',
          name: 'email',
          type: 'email'
          %}

          {% if form.errors %}
            {% for field in form.errors %}
              {% if field == 'form' %}
                <p>{{ form.errors.messages[field] }}</p>
              {% else %}
                <p>{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}.</p>
              {% endif %}
            {% endfor %}
          {% endif %}

          <div class='mt-4'>
            {%
            include 'component-button' with
            tag: 'button',
            type: 'submit',
            cta: 'Reset password',
            className: 'btn'
            %}
          </div>
        {% endif %}

      {% endform %}

      <a href='/accounts/login' class='block mt-4 underline js-recover-cancel no-ajax'>Cancel</a>
    </div>

    <div class='account-login__login account-dialog m-auto p-4 js-login-dialog'>
      <h1 class='mb-4'>Sign In</h1>

      {% form 'customer_login', class: 'm-auto' %}
        <div class='mb-4'>
          {%
          include 'component-input' with
          label: 'Email',
          placeholder: 'Email',
          name: 'customer[email]',
          className: 'mb1',
          type: 'email'
          %}

          {%
          include 'component-input' with
          label: 'Password',
          placeholder: 'Password',
          name: 'customer[password]',
          type: 'password',
          className: 'mb1'
          %}
        </div>

        {% if form.errors %}
          {% for field in form.errors %}
            {% if field == 'form' %}
              <p>{{ form.errors.messages[field] }}</p>
            {% else %}
              <p>{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class='mt-4'>
          {%
          include 'component-button' with
          tag: 'button',
          type: 'submit',
          cta: 'Sign in',
          className: 'btn'
          %}
        </div>
      {% endform %}

      <div class='flex items-center justify-center'>
        <div>
          <a class='mt-4 underline no-ajax js-recover-trigger' href='#recover'>Forgot password?</a><br />
          Don't have an account? <a class='mt-4 underline no-ajax' href='/account/register'>Sign up</a>
        </div>
      </div>

      {% if shop.checkout.guest_login %}
        <div>
          <hr />
        </div>

        {% form 'guest_login' %}
          {%
          include 'button' with
          tag: 'button',
          type: 'submit',
          cta: 'Continue as a guest',
          className: 'btn',
          outline: true
          %}
        {% endform %}
      {% endif %}
    </div>
  </div>
</div>
